{{#if productos}}
<header class="py-5">
    <h2 class="text-center">Bienvenido a Mercado Web, seleccione sus productos:</h2>
</header>
<div class="container">
    <div class="row d-flex justify-content-center">
        {{#each productos}}
        {{> cardProducto}}
        {{/each}}
    </div>
</div>
{{else}}
<p class="text-center">No hay productos disponibles.</p>
{{/if}}