<nav class="navbar bg-success">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand text-white" href="#">
      <i class="fa-solid fa-cart-shopping"></i>
      Mercado Web
    </a>
  </div>
</nav>